@model ProductVM

@{
    ViewData["Title"] = "Details";
}

@*<div class="container my-5">
    <div class="card shadow">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="img-fluid p-3" src="~/@Model.ImageUrl" alt="">
            </div>
            <div class="col-12 col-md-6 p-5">
                <div class="d-flex flex-column">
                    <h3>@Model.Name</h3>
                    <hr class="my-2">
                    <h6 class="mt-3 mb-4 text-secondary">Price: <span class="text-success h4">@Model.Price.ToString("n")</span> EGP</h6>
                    <hr class="my-4">
                    <h5 class="mb-1">About this product</h5>
                    <p class="mb-0">@Model.Description</p>
                    <hr class="my-4">
                    <div>
                        <h6 class="text-secondary">Brand: <strong>@Model.BrandName</strong></h6>
                        <h6 class="text-secondary">
                            Categories:
                            @foreach (var category in @Model.CategoryNames)
                            {
                                <span class="badge bg-secondary" style="margin-bottom:2px;">@category</span>
                            }
                        </h6>
                    </div>
                    <a asp-action="Index" class="btn btn-outline-secondary mt-3 mt-auto ms-auto">Back to results</a>
                </div>
            </div>
        </div>
    </div>
</div>
*@



@{
    ViewData["Title"] = "Edit Product";
}

<section>
    <h4 class="mt-4 text-dim"><strong>Edit Product</strong></h4>
    <div class="row py-3">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea asp-for="Description" rows="8" class="form-control" readonly></textarea>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label asp-for="Price" class="form-label"></label>
                        <input asp-for="Price" class="form-control" readonly>
                    </div>
                    <div class="col mb-3">
                        <label asp-for="Stock" class="form-label"></label>
                        <input asp-for="Stock" class="form-control" readonly>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="BrandName" class="form-label"></label>
                    <input asp-for="BrandName" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="CategoryNames" class="form-label"></label>
                    <p style="font-size:1.1rem">
                        @foreach (var category in @Model.CategoryNames)
                        {
                            <span class="badge bg-secondary" style="margin-bottom:2px; padding:10px;">@category</span>
                        }
                    </p>
                </div>
                <a asp-action="Index" class="btn btn-outline-secondary mt-2">Back to results</a>
            </form>
        </div>
        <div class="col-md-6" style="margin-top:2rem!important;">
            <img id="product-image" src="~/@Model.ImageUrl" class="col-11 rounded-3 float-end" alt="Product Image" />
        </div>
    </div>
</section>
